body{
     background: url("https://webneel.com/wallpaper/sites/default/files/images/04-2013/rain-wallpaper-scenary.jpg");
}

.login {
     position: absolute;
     width: 300px;
     top: 50%;
     left: 50%;
     background-color: #e6ffff;
     transform: translate(-50%,-50%);
     border: 2px solid green;
     padding: 10px;
     border-radius: 10px;
     

  h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: black;

  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;


    input {
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 5px;
      
    }

    button {
      padding: 10px;
      background-color: green;
      color: white;
      border: none;
      &:hover{
          background: gray;
      }
      
      }
      a{
          color: rgb(52, 49, 239);
          text-decoration: none;
          text-align: right;
      }
    }
  }

