*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
.navigation{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    background-color: grey;
     
    li{
        padding: 10px;
        a{
            text-decoration: none;
            color: #fff;
            text-transform: uppercase;
            &:hover{
                color: gold;
                cursor: pointer;
            }
        }
    }
}
